@import "style.css";
@import "friends.css";

/* chat-list */
.main {
  padding-right: 0;
  padding-left: 0;
}
.main__profile {
  padding: 10px 15px;
}
.main__chats-list > a:hover > .main__profile {
  background-color: #efefef;
}
.main__chat-img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: #fff2bb;
  margin-right: 10px;
}
.main__chat-name {
  font-size: 1.15rem;
  line-height: 1.4;
}
.main__chat-latest {
  color: #777;
  line-height: 1.4;
}
.chat-time {
  color: #888;
  font-size: 0.8rem;
}
.chat-latest-number {
  float: right;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #e76546;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto 0;
}
