@import "style.css";
@import "friends.css";

/* chat-list */
.main {
  padding-right: 0;
  padding-left: 0;
}
.main__profile {
  padding: 10px 15px;
}
.main__chats-list > a:hover > .main__profile {
  background-color: #efefef;
}
.main__chat-img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: #fff2bb;
  margin-right: 10px;
}
.main__chat-name {
  font-size: 1.15rem;
  line-height: 1.4;
  display: flex;
  align-items: center;
}
.main__chat-latest {
  color: #777;
  line-height: 1.4;
}
.chat-time {
  color: #888;
  font-size: 0.8rem;
}
.chat-latest-number {
  float: right;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #e76546;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto 0;
}
.with-two .chat-latest-number {
  background: transparent;
}

.main__chat-img-box {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: white;
  margin-right: 10px;
  position: relative;
}
.main__chat-img-box > .main__chat-img {
  margin: 0;
  position: absolute;
  box-sizing: content-box;
}

.with-many .main__chat-img {
  width: 24.5px;
  height: 24.5px;
  border-radius: 10px;
  margin: 0;
}
.with-many .main__chat-img:nth-child(1) {
  top: 0;
  left: 0;
}
.with-many .main__chat-img:nth-child(2) {
  top: 0;
  right: 0;
}
.with-many .main__chat-img:nth-child(3) {
  bottom: 0;
  left: 0;
}
.with-many .main__chat-img:nth-child(4) {
  bottom: 0;
  right: 0;
}
.with-many .main__chat-name::after {
  content: "11";
  margin-left: 5px;
  color: #afafaf;
  font-size: 1rem;
}

.with-two .main__chat-img {
  width: 32px;
  height: 32px;
  border-radius: 14px;
  position: absolute;
  margin: 0;
}
.with-two .main__chat-img:first-child {
  top: 0;
  left: 0;
}
.with-two .main__chat-img:last-child {
  bottom: 0;
  right: 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.with-two .main__chat-name::after {
  content: "3";
  margin-left: 5px;
  color: #afafaf;
  font-size: 1rem;
}
